* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url("images/awal1.jpg");
  background-size: cover;
}
form {
  margin-top: 50px;
  text-align: center;
}
input {
  display: block;
  width: 350px;
  height: 40px;
  margin: 20px;
  border: none;
  outline: none;
  font-size: 20px;
  border-bottom: 1px solid white;
  background: transparent;
  color: white;
}
button {
  width: 350px;
  height: 40px;
  font-size: 20px;
  background-color: blue;
  border: none;
  color: white;
  margin-top: 20px;
}
form h2 {
  margin-bottom: 30px;
  color: white;
}
::placeholder {
  color: white;
}

